# ----- Core Fix -----
**/xcuserdata/
**/*.xcbkptlist
**/*.xcscm*
**/xcshareddata/
**/xcschemes/

# ----- Xcode -----
build/
DerivedData/
*.xcworkspace
*.xcuserstate
*.xccheckout
*.xcsettings
*.xcdebuglog

# ----- Swift -----
.swiftpm/
.build/
Packages/
*.resolved

# ----- System -----
.DS_Store
._*
.Spotlight-V100
.Trashes
.nfs*
*.swp
*.swo

# ----- Other -----
*.log
*.tmp
*.app
*.ipa
*.dSYM
